%title{
    font-size: map-get($sizes,base);
    text-align: center;
    
}
%subtitle{
    font-size:1.8rem;
}
@include mq-min(s){
    %title{
        font-size: map-get($sizes,thumb);
    }
}
@include mq-min(ss){
    %title{
        font-size: map-get($sizes,half);

    }
}
@include mq-min(lg){
    %title{
        font-size: 3.4rem;
    }
    %subtitle{
        font-size: map-get($sizes,half);
    }
}
@include mq-min(xl){
    %title{
        font-size: 4rem;
    }
    %subtitle{
        font-size: map-get($sizes,half);
    }
}
@include mq-min(xxl){
    %title{
        font-size: 5rem;
    }
}