.block-aside{
    background-color: color(grayscale,gray-2);
    text-align: center;
    &__title{
        font-size: 2rem;
    }
    .linea {
        border-top: 3px solid white;
        height: 5px;
        padding: 0;
        margin: 10px auto 10px auto;
        width: 90%;
      }
    
    &__card{
        display: flex;
        padding: 15px;
    }
    &__description{
        background-color:color(grayscale,white);
        p{  
            
            font-size: 1.8rem;
            font-weight: 600;
            margin-top: 25%;
        }
    }
    &__image{
        width: 10rem;
    } 
    &__cantidad{
        background-color:color(complementary,seven);
        position: relative;
        text-align: left;
        width: 6rem;
        p{
            font-size:4rem;
            font-weight: 600;
            padding: 20px 10px 0px 10px;
        } 
    }
}
@include mq-min(s){
    .block-aside{
        &__image{
            width: 15rem;
        }    
        &__cantidad{
            background-color:color(complementary,seven);
            /* margin-bottom: 6px; */
            position: relative;
            text-align: left;
            width: 6rem;
            p{
                font-size:5rem;
                font-weight: 600;
                padding: 30px 10px 0px 10px;
            } 
        } 
    }
}
@include mq-min(ss){
    .block-aside{
        &__title{
            padding: 6px 5px 0 0;
        }
        &__image{
            height: 87.36px;
            width: 140px;
        }   
        &__card{
            padding: 0px 20px 9px 10px;
        } 
        &__cantidad{
            background-color:color(complementary,seven);
            height: 87.36px;
            position: relative;
            text-align: center;
            width: 6rem;
            p{
                font-size:5rem;
                font-weight: 700;
                padding: 5px 10px 0px 20px;
            } 
        } 
        &__description{
            height: 87.36px;
            p{  
                line-height: 30px;
                margin-top: 0;
                padding: 30px 0px 10px 0px;
            }
        }
    }
}
@include mq-min(sm){
    .block-aside{
        &__image{
            width: 20rem;
        }
    }    
}
@include mq-min(md){
    .block-aside{
        &__card{
            display: flex;
            padding: 10px;
        }
        &__image{
            width: 8rem;
        }
        &__cantidad{
            position: relative;
            text-align: center;
            width: 4rem;
            p{
                font-size:4.5rem;
                font-weight: 700;
                padding: 0;
            } 
        } 
        &__description{
            background-color:color(grayscale,white);
            text-align: center;
            p{
                font-size:1.2rem;
                line-height: 20px;
                padding: 0px;
            }
        }

    }
}
@include mq-min(lg){
    .block-aside{ 
        &__title{
            font-size: 3rem;
        }
        justify-content: flex-end;
        &__card{    
            display: flex;
            padding: 10px;
        }
        &__image{
            height: 150px;
            width: 15rem;
            &:hover {
                filter: opacity(.5);
            }
        }
        &__cantidad{
            height: 150px;
            width: 5rem;
            p{
                font-size:5rem;
                font-weight: 700;
                padding: 30px 10px 10px 10px;
            } 
        } 
        &__description{
            align-items: center;
            display: flex;
            height: 150px;
            p{
                font-size:2rem;
                line-height: 30px;
            }
        }
    }
}
@include mq-min(xxl){
    .block-aside{
        margin: { 
        left:0px;
        right: 1%;
        top: 23px;
        }
        width: 42%;
        text-align: left;
        &__title{
            font-size: 3.5rem;
            font-weight: 600;
            padding: 12px 0 0 13px ;
            text-align: left;
        }
        &__description{
            p{
                line-height: 28px;
                font-size: 2.3rem;
                padding: 20px  6px 0 13px;
            }

        }
        &__card{    
            padding: 10px 18px 10px 14px;
        }
        &__cantidad{
            width: 4.8rem;
            p{
                padding: 25px 10px 10px 10px;
            } 
        } 
        &__image{
            width: 150px;
        } 
    }
}

