main{
    .banner{
        color: color(grayscale,white);
        .container-banner{
            flex-direction: column;
            position: relative;
        }
        &__title{
            font-size:2.5em;
            padding: 20px;
            position:absolute;
            text-align: center;
            top: 15%;
            width: 100%;
        }
        &__text{
            position: absolute;
            text-align: center;
            top: 40%;
            width: 100%;
            p{
                font-size: 1.2rem;
                padding: 0 10px 0 10px;
            }
            h5{
                font-size: 1.6rem;
            }
        }
        &__link{
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
        }
        &__image{
            height: 433.85px;
            width: 100%;
        }
    }
}

@include mq-min(ss){
    main{
        .banner{
            &__title{
                font-size:30px;
                font-weight: 700;
                left: 3%;
                line-height: 32.5px;
                top: 10%;
            }
            &__text{
                top: 35.5%;
                p{
                    font-size: 1.6rem;
                    line-height: 30px;
                    padding: 0 40px 43px 40px;
                }
                h5{
                    font-size: 2rem;
                    padding: 0px 0px 0px 42px;
                }
            }
            &__link{
                top: 77%;
            }
        }
    }
}
@include mq-min(md){
   main{
    .banner{
        &__image{
            height: 433.85px;
            width: 100%;
        }
        &__title{
            font-size:4em;
            padding: 20px;
            position:absolute;
            text-align: center;
            top: 15%;
            width: 100%;
        }
        &__text{
            top: 35%;
            width: 100%;
            p{
                font-size: 2rem;
                padding: 0 70px 10px 70px;
            }
            h5{
                font-size: 2.5rem;
            }
        }
        &__link{
            top: 68%;
        }
    }
   }
}
@include mq-min(lg){
    main{
        .banner{
            &__title{
                font-size:4.2rem;
                text-align: right;
                top: 15%;
                width: 96%;
            }
            &__text{
                left: 45%;
                position: absolute;
                text-align: center;
                top: 37%;
                width: 50%;
                p{
                    font-size: 2.5rem;
                    padding: 0 10px 15px 10px;
                }
            }
            &__link{
                left: 45%;
                position: absolute;
                text-align: center;
                top: 78%;
                width: 50%;
            }
        }
    }
}

@include mq-min(xxl){
    main{
        .banner{
            &__image{
                height: 577px;
            }
            &__title{
                font-size:4.5rem;
                top: 9.8%;
                width: 96%;
                left: 3.3%;
            }
            &__text{
                left: 46.6%;
                position: absolute;
                text-align: center;
                top: 27.4%;
                width: 50%;
                p{
                    font-size: 2.8rem;
                    font-weight: 500;
                    line-height: 40px;
                    padding: 0 10px 15px 10px;
                }
                h5{
                    font-size: 3.5rem;
                    padding: 5px 0px 0px 63px;
                }
            }
            &__link{
                left: 47.3%;
                position: absolute;
                top: 67.5%;
                width: 50%;
                a{
                    font-size: 2.5rem;
                    padding: 20px 30px 25px 40px;
                    
                }
            }
        }
    }
}