footer{
    background-color:color(primary,dark);
    display: block;
    text-align: center;
    width: 100%;
    a{
       color: color(grayscale,white);
       font-weight: 400;
    }
    .footer__left{
        margin-top: 20px;
        padding: auto;
        p{
            color: white;
            font-size: map-get($sizes,thumb);
            font-weight: 700;
            margin-top: -15px;
            margin-bottom:5px;
           }
        .nav-social{
            word-spacing: 15px;
            margin-top: 15px;
            a{
                background-color:color(grayscale,white);
                border-radius: 50px;
                font-size: map-get($sizes,thumb);
                padding: 13px 10px 6px 10px;
                span{
                    margin-top:10%;
                    font-size:2.5rem;
                }
            }
            .btn-facebook{
                color: #1531C6;
            }
            .btn-twitter{
                color: #3DB0C9;
            }
            .btn-instagram{
            color:#CC376D;
            }
        }
    }
    .footer__center{
        display: block;
        margin-top: 20px;
        h2{
            color: color(grayscale,white);
            font-weight: 700;
            font-size: map-get($sizes,base);
        }
        .block-servicios{
            display:flex;
            padding: 10px 10px 10px 10px;
            text-align:left;
            .block-menu{
                margin-left: 25px;
                .block-submenu{
                    a{
                        color:color(grayscale,white);
                        font-weight: 700;
                        font-size: map-get($sizes,base);
                        line-height: 30px;
                    }
                }
            }
            .block-contacto{
                line-height: 30px;
            }
        }
    }
    .footer__bottom{
        color:color(grayscale,white);
        font-weight: 600;
        margin-top: 20px;
    }
}
@include mq-min(sm){
    .block-servicios{
        display:flex;
        justify-content: space-evenly;
        .block-menu{
            margin-left: 0;
        }
    }
}
@include mq-min(md){
    footer{
        display:flex;
        width: 100%;
        flex-flow: row wrap;
        .footer__left{
            width: 20%;
        }
        .footer__center{
            display: flex;
            justify-content:space-evenly;
            margin-top: 20px;
            width: 80%;
            h2{
                color: color(grayscale,white);
                font-weight: 700;
                font-size: map-get($sizes,base);
            }
            .block-servicios{
                padding: 10px 10px 10px 10px;
                text-align:left;
                display: flex;
                justify-content:space-between;
                width: 40%;
                .block-menu{
                    margin-left: 0;
                }
            }
            .block-contacto{
                line-height: 30px;
                margin-top: 10px;
                text-align:left;
            }
        }
        .footer__bottom{
            margin-top: 20px;
            width: 100%;
        }
    }

}