main{
    .galery{
        position: relative;
        &__top{
            .title-section{
                @extend %title;
                padding: 25px 0px 17px 0px;
            }
        }
        &__body{
            padding: 0 0 100px 0;
            text-align: center;
        }
        &__link{
            a{
                height: 29px;
                font-size: 12px;
                padding: 8px 10px 10px 20px;
                position: absolute;
                width:100px;
                top:92%;
                left: 35%;
            }
        }
        &__group{
            position: relative;
            display: inline-block;
        }
        &__description{
            text-align: center;
            padding: 0 0 0 5px;
            p{
                background-color: color(complementary,six);
                color: color(grayscale,white);
                padding:10px;
                position: absolute;
                top:81%;
                left: auto;
                width: 140px;
            }
        }
    }
    
}
@include mq-min(s){
    main{
        .galery{
            &__link{
                a{
                    position: absolute;
                    width:11rem;
                    top:100%;
                    left: 35%;
                }
            }
            &__image{
               width: 160px;
            }
            &__group{
                position: relative;
                display: inline-block;
            }
            &__description{
                text-align: center;
                p{
                    font-size: 1.5rem;
                    height: 57px;
                    padding:10px;
                    position: absolute;
                    top:70%;
                    left: auto;
                    width: 160px;
                }
            }
        }
    }
}
@include mq-min(ss){
    main{
        .galery{
            &__top{
                .title-section{
                    text-align: center;
                    padding: 25px 0px 23px 0px;
                }
            }
            &__link{
                a{
                    height: 29px;
                    left: 72%;
                    position: absolute;
                    top:75.5%;
                    width:84px;
                    padding: 10px 0 0 15px;
                }
            }
            &__body{
                padding-bottom: 47px;
            }
            &__group{
                padding: 0 0 20px 0;
            }
            &__description{
                padding: 0 0 0 6px;
                p{
                    font-size: 1.2rem;
                    font-weight: 700;
                    height: 34.9px;
                    justify-content: center;
                    line-height: 15px;
                    padding: 5px 20px 0px 14px ;
                    position: absolute;
                    top:68.7%;
                    width: 124.35px;
                }
            }
            
            &__image{
                height:165px;
                width: 124.35px;
                
            }
        }
    }
}
@include mq-min(sm){
    main{
        .galery{
            bottom: 0;
            &__link{
                a{
                    top:73%;
                    left: 73%;
                }
            }
            &__description{
                padding:0px;
                p{
                    font-size: 1.5rem;
                    font-weight: 500;
                    padding: 10px;
                    width: 168px;
                    height: 45px;
                }
            }
            &__image{
                height:200px;
                width: 168px;
                
            }
        }
    }
}
@include mq-min(md){
    main{
        .galery{
            &__link{
                a{
                    left: 43%;
                    top:88%;
                }
            }
            &__description{
                padding: 0 0 0 6px;
                p{
                    height: 45px;
                    width: 168px;
                }
            }
            &__image{
                height:200px;
                width: 168px;
            }
        }
    }
}
@include mq-min(lg){
    main{
        .galery{
            &__top{
                .title-section{
                    padding: 20px 10px 30px 10px;
                    text-align: left;
                }
            }
            &__link{
                a{
                    top:4%;
                    left: 84%;
                }
            }
            &__description{
                padding: 0 0 0 12px;
                p{
                    font-size: 2rem;
                    height: 61px;
                    justify-content: center;
                    line-height: 25px;
                    position: absolute;
                    text-align: center;
                    width: 220px;
                }
            }
            &__image{
                width: 220px;
                height: 250px;
            }
        }
    }

}
@include mq-min(xl){
    main{
        .galery{
            &__link{
                a{
                    font-size: 1.4rem;
                    top:5%;
                    left: 84%;
                }
            }
            &__description{
                padding-left: 1px;
                p{
                    font-size: 2.3rem;
                    line-height: 30px;
                    position: absolute;
                    text-align: center;
                    height: 77px;
                    width: 270px;
                    
                }

            }
            &__group{
                cursor: pointer;
                overflow: hidden;
                &::before{
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.929);
                    bottom: 0;
                    color: color(grayscale,rgb(255, 255, 255));
                    content: " Viaja con TOUR ECUADOR ❤ ✈︎";
                    display: flex;
                    font-size: 3rem;
                    font-weight: 700;
                    height: 100%;  
                    justify-content: center;
                    left: 0;
                    position: absolute;
                    right: 0;
                    transform:scale(0);
                    transition:transform .5s;
                    top: 0;
                    z-index: 100;
                }
                &:hover::before{
                    transform:scale(1) rotate(360deg); 
                }
                &:hover{
                    transition:transform .5s;
                    -webkit-transform:scale(0.9);
                    transform:scale(0.9) ; 
                }
                
            }
            &__image{
                width: 270px;
                height: 300px
            }
        }
    }
}
@include mq-min(xxl){
    main{
        .galery{
            &__top{
                .title-section{
                    padding: 75px 0px 52px 7px;
                }
            }
            &__body{
                padding: 0 0 100px 0;
            }
            &__link{
                a{
                    font-size: 1.8rem;
                    top:8.7%;
                    left: 87.5%;
                    padding:  15px 0px 30px 24px;
                    width: 13rem;
                }
            }
            &__description{
                padding-left: 6.5px;

                p{
                    font-size: 2rem;
                    line-height: 30px;
                    height: 68px;
                    top:70.7%;
                    padding: 20px 20px 0 0px;
                    width: 314px;
                }
            }
            &__group{
                padding-bottom: 34px;
                &::before{
                    height: 259px; 
                    width: 314.5px; 
                    left: 6px;
                }
            }
            &__image{
                width:314px;
                height: 326px;
            }
        }
    }
}
