main{
    .slider{
        &__item{
            color:color(grayscale,white);
            z-index: 10;
        }
        &__image{
            margin-top: 50px;
            width: 100%;
        }
        &__description{
            height:165px;
            line-height: 30px;
            position:absolute;
            top: 45%;
            text-align: center;
            width: 11%;
            .titulo-slider{
                font-size:2.5rem;
            }
            p{
               font-size: map-get($sizes,tiny);
            }
            span{
                font-size:1.6em;
                font-weight: 700;
            }
        }
    }
}
@include mq-min(ss){
    main{
        .slider{
            &__description{
                height:165.5px;
                line-height: 33px;
                top:43.5%;
                .titulo-slider{
                    font-size:3rem;
                }
                p{
                   font-size: map-get($sizes,tiny);
                   padding:0 0 0 6px;
                }
                span{
                    font-size: map-get($sizes,base);
                    padding:0 0 0 6px;
                }
            }
        }
    }
}
@include mq-min(md){
   main{
       .slider{
            &__description{
                top:45%;
                .titulo-slider{
                    font-size: 3.6rem;
                }
                p{
                    font-size: map-get($sizes,base);
                }
                span{
                    font-size: map-get($sizes,thumb);
                }
            }
       }
   }
}
@include mq-min(lg){
    main{
        margin-top: -100px;
        .slider{
            &__image{
                margin-top: 0;
                height: 100%;
            }
            &__description{
                line-height: 40px;
                top: 50%;
                .titulo-slider{
                    font-size: 4rem;
                }
            } 
            
        }
    }
}
@include mq-min(xl){
    main{
        .slider{
            &__description{
                line-height: 60px;
                .titulo-slider{
                    font-size:map-get($sizes,xlarge);
                }
                p{
                    font-size:map-get($sizes,half);
                    font-weight: 600;
                }
            } 
        }    
    }
}
@include mq-min(xxl){
    main{
        .slider{
            img{
                height: 554px;
            }
            &__description{
                line-height: 57px;
                top:47.89%;
                .titulo-slider{
                    font-size:6rem;
                    padding: 0 0 0px 19px;
                }
                p{
                    font-size:3rem;
                    font-weight: 500;
                    padding: 0 0 0px 35px;
                }
                span{
                    font-size:4.5rem ;
                    font-weight: 600;
                    padding:0px;
                }
            } 
        }    
    }
}

