main{
    .block-video{
        .title-section{
            @extend %title;
            padding: 20px 0 0px 0px;
        }
        &__media{ 
            text-align: center;
        }
        &__description{
            font-weight: 500;
            padding: 10px 20px 0px 20px;
            text-align: justify;
            p{
                font-size: 1.4rem;
            }
        }
        &__link{
            padding: 0px 20px 50px 20px;
            text-align: center;
        }
    }    
} 
@include mq-min(ss){
    main{
        .block-video{ 
            .title-section{
                padding: 17px 0px 10px 5px;
            }
            &__description{
                font-weight: 500;
                padding: 5px 18px 0px 18px;
                text-align: justify;
            }
            &__link{
                padding: 0px 25px 22px 20px;
                margin-top: -6px;
            }
            
            &__media{
                video{
                    height:178.32px;
                    width:380.36px;
                }  
            }
        }    
    } 
}
@include mq-min(md){
   main{
        .block-video{
            justify-content: space-evenly;
            padding: 20px;
            width: 90%;
            &__description{
                font-weight: 500;
                padding: 0px;
                text-align: justify;
            }
        }
    }
}
@include mq-min(lg){
    main{
        .block-video{
            width: 93%;
            &__description{
                font-weight: 500;
                padding:10px;
                text-align: justify;
            }
            &__media{
                video{
                    height:320px;
                    width:510px;
                }  
            }
        }
    }    
} 
@include mq-min(xl){
    main{
        .container-principal{
            padding-top: 40px;
            padding-right: 40px;
            .block-video{
                width: 98%;
                position: relative;
                justify-content:center;
                &__description{
                    font-size: map-get($sizes,thumb);
                    font-weight: 500;
                    padding: 10px 90px 20px 90px;
                    text-align: justify;
                }
                &__media{
                    video{
                        height:320px;
                        width:650px;
                    }  
                }
            }
        }
        
    }    
}
@include mq-min(xxl){
    main{
        .container-principal{
            .title-section{
                padding: 0px 0 16px 0px;
            }
            .block-video{
                &__description{
                    padding: 13px 50px 20px 50px;
                    text-align: justify;
                    p{
                        font-size: 2rem;
                    }
                }
                &__media{
                    video{
                        height:383px;
                        width:805px;
                    }  
                }
                &__link{
                    padding: 0px 25px 0px 20px;
                }
            }
        }
        
    }    
}

