.btn {
   font-family: $font-primary;
   font-size: $font-size;
   padding: ( $font-size - .25rem ) ( $font-size + .9rem);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 700;
   line-height: 1;
   outline: none;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
   width: 100%;
   @include mq-min(md) {
      width: auto;
   }
   @include mq-min(xxl) {
      height: 52px;
      font-size: 25px;
      width: 147px;
   }
   &.btn-primary {
      @include button( color(complementary,three ) );
      opacity: 0.9;
      &.outline {
         @include button( transparent, color( complementary,three) );
         border: .13rem solid color(complementary,three);
         &:hover, &:active {
            @include button( color(complementary,three) );
         }
      }
   }
   &.btn-secondary {
      @include button( color( secondary, base ), color( grayscale, base ) );
      &.outline {
         @include button( transparent, color( secondary, base ) );
         border: .15rem solid color( secondary, base );
         &:hover, &:active {
            @include button( color( secondary, base ), color( grayscale, white ));
         }
      }
   }
   // sizes
   &.small {
      padding:    ( $font-size - .90rem ) ( $font-size );
      font-size:  ( $font-size - .25rem );
   }
   &.medium{
      font-size: map-get($sizes, small);
      padding: 11px 38px;
   }
}

@include  mq-min(md){
}
